<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="TaskTrackerSuite" parallel="tests" thread-count="1">
    <test name="TaskTrackerTest">
        <parameter name="title" value="Vender"/>
        <parameter name="description" value="Vender el auto"/>
        <parameter name="state" value="false"/>
        <classes>
            <class name="cl.kibernumacademy.TaskTrackerTest"/>
        </classes>
    </test>
</suite>
